<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>NLP</title>
    <link
      rel="icon"
      href="https://image.flaticon.com/icons/png/512/822/822103.png"
    />
  </head>

  <body>
    <h1 class="main-heading">NLP</h1>
    <main>
      <div class="main-container">
        <h2>Enter a URL of an article.</h2>
        <section>
          <form id="form">
            <label for="article-url">Article URL</label>
            <input
              id="article-url"
              type="text"
              name="input"
              placeholder="URL here"
            />
            <button type="submit" class="btn-submit">Submit</button>
          </form>
        </section>

        <section>
          <h2>Result</h2>
          <div id="result"></div>
        </section>
      </div>
    </main>
  </body>
</html>
