<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>NLP</title>
    <link
      rel="icon"
      href="https://image.flaticon.com/icons/png/512/822/822103.png"
    />
  </head>

  <body>
    <h1 class="main-heading">NLP</h1>
    <main>
      <div class="main-container">
        <h2>Enter a URL of an article.</h2>
        <section>
          <form id="form">
            <label for="article-url">Article URL</label>
            <input
              id="article-url"
              type="text"
              name="input"
              placeholder="URL here"
            />
            <button type="submit" class="btn-submit">Submit</button>
          </form>
        </section>

        <section>
          <h2>Result</h2>
          <div id="result">
            <div class="result__output-section">
              <dt>agreement:</dt>
              <dd id="agreement"></dd>
            </div>
            <div class="result__output-section">
              <dt>confidence:</dt>
              <dd id="confidence"></dd>
            </div>
            <div class="result__output-section">
              <dt>irony:</dt>
              <dd id="irony"></dd>
            </div>
            <div class="result__output-section">
              <dt>model:</dt>
              <dd id="model"></dd>
            </div>
            <div class="result__output-section">
              <dt>score_tag:</dt>
              <dd id="score_tag"></dd>
            </div>
          </div>
        </section>
      </div>
    </main>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
